# Rider IDE-filer
.idea/
*.iml

# Byggartefakter
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Loggfiler
*.log

# Temporära filer
*.tmp
*.bak
*.swp

# Operativsystemspecifika filer
.DS_Store
Thumbs.db
desktop.ini

# Git-specifika temporära filer
*.orig
